<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

    <title>User Profile</title>

    <link rel="shortcut icon" href="/assets/images/gt_favicon.png">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/assets/css/divstyle.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.css" media="screen" >
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/buttonstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="/assets/js/headroom.min.js"></script>
    <script src="/assets/js/jQuery.headroom.min.js"></script>
    <script src="/assets/js/template.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script src="/javascript/mainscript.js"></script>
    <script src="/assets/js/bootstrap-filestyle.min.js"> </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>


    <![endif]-->
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top headroom" >
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" width="50 px" height="50 px" alt="Pronet" ></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-left">
                <li class="active"><a href="/companyprofile">Profile</a></li>
                <li><a href="/careers">Careers</a></li>
                <li ><a href="/applications">Jobs</a></li>

            </ul>

            <ul class="nav navbar-nav pull-right">
                <li>
                    <div class="span12">
                        <form id="custom-search-form" class="form-search form-horizontal pull-right">
                            <div class="input-append span12">
                                <button type="submit" class="btn"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </form>
                    </div>
                </li>
                <li><a class="btn" href="/signout">Sign out</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->
<header id="head" class="secondary"></header>
<br>
<br>
<% for(var i=0; i < data.length; i++) { %>
<div class="container" margin-top="40px" width="700px">
    <form method="get" action="/<%=data[i].id%>">
               <div class="div_style">
                           <h5><b><%=data[i].jtitle%></b></h5>

                            <h4>
                                <span class="textarea ed" name="overview" id="overview"><%=data[i].description%></span>

                            </h4>
                            <h4>
                                <span class="textarea ed" name="status" id="status"><%=data[i].job_status%></span>
                            </h4>
                            <input type="submit" value="Delete" name="<%=data[i].id%>" class="apply" align="left">
               </div>
    </form>
    </div><br>
<br>
<%   }
%>


</body>
</html>
