<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

    <title>Company Profile</title>

    <link rel="shortcut icon" href="/assets/images/gt_favicon.png">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.css" media="screen" >
    <link rel="stylesheet" href="/assets/css/main.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/assets/js/headroom.min.js"></script>
    <script src="/assets/js/jQuery.headroom.min.js"></script>
    <script src="/assets/js/template.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script src="/javascript/followerValidation.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->

    <!--
    <script type="text/javascript">
        var socket = io.connect('http://localhost:3000');
        var temp = $('#companyimage').val();
        $(document).on("change", "#companyimage", function(e){
            var file = e.originalEvent.target.files[0];
            reader = new FileReader();
            reader.onload = function(evt){
                socket.emit('onupload',file.name,evt.target.result);
            }
            reader.readAsDataURL(file);
        });
    </script> -->
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top headroom" >
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" width="50 px" height="50 px" alt="Pronet" ></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-left">
                    <li><a href="/feeds">Home</a></li>
                    <li><a href="/userprofile" >Profile</a></li>
                    <li><a href="/userfollowing">Following</a></li>
                    <li><a href="/jobs">Jobs</a></li>
                    <li><a href="/applications">Applications</a></li>
               </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <div class="span12">
                        <form id="custom-search-form" class="form-search form-horizontal pull-right">
                            <div class="input-append span12">
                                <input type="text" class="search-query mac-style" placeholder="Search for ...">
                                <button type="submit" class="btn"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </form>
                    </div>
                </li>
                <li><a class="btn" href="/signout">Sign out</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->
<header id="head" class="secondary"></header>
    <div class="container" margin-top="30px">
        <form method="post" action="/follow">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <div class="media">
                        <form method="post" action="/follow">
                            <input type="text" hidden="hidden" id="thisID" name="thisID" >
                            <input type="text" hidden="hidden" id="sampleID" name="sampleID" value=<%=data.id%>|<%=data.Logo%>|<%=data.page%>|<%=data.name%>>
                            <input type="text" hidden="hidden" id="followerCount" name="followerCount" value=<%=data.followerCount%>>
                            <div class="imgup">
                            <a class="thumbnail pull-left" >
                                <img id="userpic" class="media-object" src= <%=data.Logo%> width= "300px" height="300 px" >
                             </a>
                        </div>

                        <div class="col-sm-1 text-left">
                        </div>

                        <div class="media-body">
                            <div class="editable">
                                <h2><span role="alert" class="text media-heading ed" name="name"><%=data.name%></span>
                                </h2>
                            </div>
                            </br>
                            <div class="editable">
                                <h5><span role="alert" class="text media-heading ed" name="url"><%=data.URL%></span>
                                </h5>
                            </div>
                            <div class="editable">
                                <p>
                                    <button id="foll" class="btn btn-xs btn-action pull-right" type="submit"><span class="glyphicon glyphicon-circle"></span><%=data.follow%></button>
                                </p>

                                <br>
                                <br>
                                <p><span id="displayfc"class="label label-warning pull-right"><%=data.followerCount%> followers</span></p>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <div class="media"></div>
                        <h4><span role="alert" class="text media-heading">Overview</span>
                        </h4>

                        <div class="editable">
                            <br>
                                <span class="textarea ed" name="overview"><%=data.Overview%></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form method="get" action="/posts">
              <input type=submit name=submit align="center" value="Add New Posts">
        </form>
                <br>
                <br>
     <form>
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm" width="1140px" height="99px">
                <div class="media">
                </div>
                <div class="media-body editable">

                    <div class="editable">
                        <br>
                        <span class="textarea ed" name="postfield">Recent Posts</span>
                    </div>

                </div>
            </div>
        </div>
    </div>

</form>

</body>
</html>
