        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport"    content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

            <title>User Profile</title>

            <link rel="shortcut icon" href="/assets/images/gt_favicon.png">

            <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
            <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

            <!-- Custom styles for our template -->
            <link rel="stylesheet" href="/assets/css/bootstrap-theme.css" media="screen" >
            <link rel="stylesheet" href="/assets/css/main.css">

            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
            <script src="/assets/js/headroom.min.js"></script>
            <script src="/assets/js/jQuery.headroom.min.js"></script>
            <script src="/assets/js/template.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
            <script src="/javascript/mainscript.js"></script>

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="/assets/js/html5shiv.js"></script>
            <script src="/assets/js/respond.min.js"></script>
            <![endif]-->
        </head>

        <body>

            <!-- Fixed navbar -->
            <div class="navbar navbar-inverse navbar-fixed-top headroom" >
                <div class="container">
                    <div class="navbar-header">
                        <!-- Button for smallest screens -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" width="50 px" height="50 px" alt="Pronet" ></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav pull-left">
                            <li><a href="/feeds">Home</a></li>
                            <li class="active"><a href="/userprofile" >Profile</a></li>
                            <li><a href="/userfollowing">Following</a></li>
                            <li><a href="/jobs">Jobs</a></li>
                            <li><a href="/applications">Applications</a></li>
                        </ul>

                        <ul class="nav navbar-nav pull-right">
                            <li>
                                <a href="#"><span class="label label-default active" name="lastseen" id="lastSeen" >Last Seen: <%=lastseen%></span></a>
                            </li>
                            <li>
                                <a class="btn" href="/signout">Sign out</a>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
            <!-- /.navbar -->
            <header id="head" class="secondary"></header>

        <div class="container" margin-top="30px">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <div class="media">
                            <div class="imgup">
                                <a class="thumbnail pull-left" href="#">
                                    <form method="post" action="/imgupload" enctype="multipart/form-data">
                                        <img id="userpic" class="media-object" src= <%=data.img%> width= "200px" height="200 px" >
                                        <input type="file" id="changeimage" name="userimageinput">
                                        <button id="imagesubmit" class="btn btn-xs btn-action" type="submit"><span class="glyphicon glyphicon-circle"></span>Save</button>
                                    </form>
                                </a>
                            </div>

                            <form method="post" action="/userDetails">

                                <div class="col-sm-1 text-left">
                                </div>

                                <div class="media-body">
                                    <div class="editable">
                                    <h2><span role="alert" class="text media-heading ed" name="user_name"><%=data.name%></span>
                                     <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-circle"></span>Edit</button>
                                     <button class="btn btn-xs btn-action" type="submit"><span class="glyphicon glyphicon-circle"></span>Save</button>
                                    </h2>
                                    </div>

                                    <div class="editable">
                                    <h4><span role="alert" class="text media-heading ed" name="role"><%=data.userrole%></span>
                                        <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-circle"></span>Edit</button>
                                        <button class="btn btn-xs btn-action" type="submit"><span class="glyphicon glyphicon-circle"></span>Save</button>
                                    </h4>
                                    </div>

                                    <div class="editable">
                                    <h4>
                                        <span role="alert" class="text media-heading ed" name="region"><%=data.region%></span>
                                        <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-circle"></span>Edit</button>
                                        <button class="btn btn-xs btn-action" type="submit"><span class="glyphicon glyphicon-circle"></span>Save</button></h4>
                                    </div>

                                    <div class="editable">
                                    <h4><span role="alert" class="text media-heading ed" name="education"><%=data.education%></span>
                                        <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-circle"></span>Edit</button>
                                        <button class="btn btn-xs btn-action" type="submit"><span class="glyphicon glyphicon-circle"></span>Save</button>
                                    </h4>
                                    </div>

                                    <div class="editable">
                                    <h4><span role="alert" class="text media-heading ed" name="workex"><%=data.workex%></span>
                                        <button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-circle"></span>Edit</button>
                                        <button class="btn btn-xs btn-action" type="submit"><span class="glyphicon glyphicon-circle"></span>Save</button>
                                    </h4>
                                    </div>

                                <br>
                                <br>
                                <p><span class="label label-warning pull-right"><%=data.followerCount%> followers</span></p>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <form method="post" action="/userDetails">

            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <div class="media"></div>

                            <div class="media-body editable">
                                <h4><span role="alert" class="text media-heading">Summary</span>
                                </h4>

                                <div class="editable">
                                <br>
                                <span class="textarea ed" name="summary" id="summ"><%=data.summary%></span>
                                    <button type="button" class="btn btn-xs btn-default pull-right"><span class="glyphicon glyphicon-circle"></span>Edit</button>
                                    <button class="btn btn-xs btn-action  pull-right" type="submit"><span class="glyphicon glyphicon-circle"></span>Save</button>
                                </div>

                            </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm" width="1140px" height="99px">
                        <div class="media">
                            </div>
                            <div class="media-body editable">
                                <h4><span role="alert" class="text media-heading">Education</span>
                                </h4>

                                <div class="editable">
                                <br>
                                <span class="textarea ed" name="educationDetails"><%=data.EducationDetails%></span>
                                    <button type="button" class="btn btn-xs btn-default pull-right"><span class="glyphicon glyphicon-circle"></span>Edit</button>
                                    <button class="btn btn-xs btn-action pull-right" type="submit"><span class="glyphicon glyphicon-circle"></span>Save</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <div class="media">
                            </div>
                            <div class="media-body editable">
                                <h4><span role="alert" class="text media-heading">Skills</span>
                                </h4>

                                <div class="editable">
                                <br>
                                <span class="textarea ed" name="skills"><%=data.Skills%></span>
                                    <button type="button" class="btn btn-xs btn-default  pull-right"><span class="glyphicon glyphicon-circle"></span>Edit</button>
                                    <button class="btn btn-xs btn-action  pull-right" type="submit"><span class="glyphicon glyphicon-circle"></span>Save</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <div class="media">
                            </div>
                            <div class="media-body" >
                                <h4><span role="alert" class="text media-heading">Certifications</span>
                                </h4>

                                <div class="editable">
                                <br>
                                <span class="textarea ed" name="certifications"><%=data.Certifications%></span>
                                    <button type="button" class="btn btn-xs btn-default  pull-right"><span class="glyphicon glyphicon-circle"></span>Edit</button>
                                    <button class="btn btn-xs btn-action  pull-right" type="submit"><span class="glyphicon glyphicon-circle"></span>Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        </body>
        </html>
